html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: Pretendard, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Noto Sans KR", Arial, sans-serif;

  background: #ffffff;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
