/* ✅ 기본 여백 제거 + 높이 고정 */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ✅ 전체 폰트 Inter */
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans KR", Arial, sans-serif;
  background: #ffffff;
}
