@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/static/pretendard.css");

:root {
  --brand: #2eaadc;
  --bg: #E9EEF4;
  --text: #0f172a;
  --muted: #64748b;
  --white: #ffffff;
  --danger: #ff0000;
  --border: #e6edf5;
}

* {
  box-sizing: border-box;
}

.wr-page {
  font-family: "Pretendard", sans-serif;
  background: var(--bg);
  min-height: 100vh;
}

.wr-header-placeholder {
  height: 64px;
  background: var(--brand);
}

.wr-footer-placeholder {
  height: 72px;
}

/*  Layout  */
.wr-main {
  width: 1280px;
  margin: 0 auto;
  padding: 40px 0 60px;
  display: flex;
  gap: 36px;
  align-items: flex-start;
}

/* Content */
.wr-content {
  flex: 1;
  background: var(--white);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 28px;
}

.wr-content-head {
  border-bottom: 1px solid var(--border);
  padding-bottom: 3px;
  margin-bottom: 18px;
}

.wr-title {
  font-size: 22px;
  font-weight: 800;
  margin: 0 0 6px;
  color: #64748B;
}

.wr-subtitle {
  font-size: 13px;
  color: #94a3b8;
}

.wr-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.wr-card {
  position: relative;
  border: 1px solid #dbe7f3;
  border-radius: 12px;
  padding: 22px;
}

.wr-delete {
  position: absolute;
  top: 14px;
  right: 16px;
  background: none;
  border: none;
  font-weight: 700;
  color: #64748b;
  cursor: pointer;
}

/*  작성자 */
.wr-card-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.wr-writer {
  font-size: 16px;
  font-weight: 800;
}

.wr-meta {
  display: flex;
  align-items: center; 
  gap: 10px;          
  margin-top: 6px;
}

.wr-stars {
  display: flex;
  gap: 4px;
}

.wr-star {
  color: #cbd5e1;
}

.wr-star.filled {
  color: #f5b301;
}


.wr-date {
  font-size: 14px;
  color: #94a3b8;
  line-height: 1;
}

.wr-hospital {
  font-size: 14px;
  color: #000000;      
  line-height: 1;
  font-weight: 500;
}

.wr-text {
  font-size: 14px;
  color: #94A3B8;
  font-weight: 600;
  line-height: 1.55;
}

.wr-empty {
  text-align: center;
  padding: 40px 0;
  color: var(--muted);
  font-weight: 600;
}

/* Pagination  */
.wr-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 18px;
}

.wr-page-btn,
.wr-page-num {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--white);
  font-weight: 800;
  cursor: pointer;
}

.wr-page-num.active {
  background: #2b7fff;
  color: #ffffff;
  border-color: transparent;
}

@media (max-width: 1320px) {
  .wr-main {
    width: 100%;
    padding: 32px 16px 60px;
  }
}

.wr-box {
  background: #f5f7fa;
  margin: -30px -28px 0;
  padding: 22px 26px 0px;
  border-radius: 12px 12px 0 0;
  border-color: #E9EEF4;
}