:root {
  font-family: system-ui, -apple-system, "Pretendard", "Noto Sans KR", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden; /* ✅ 바깥 스크롤 금지 */
  background: #e6e6e6;
}

a {
  color: inherit;
  text-decoration: none;
}
